{% extends 'base.html.twig' %}

{% block title %} {{ user }} {% endblock %}

{% block body %}


<h1>Hello {{ user }}!</h1>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae maxime praesentium, veniam sed facere nisi hic ex. Sequi iste incidunt labore quidem hic, repudiandae saepe, necessitatibus eligendi blanditiis velit quae!</p>
{% endblock %}
